
$bgColorLight: rgb(235, 250, 248);
$fontColorLight: rgb(6, 20, 19);
$primaryColorLight: rgb(58, 202, 187);

$bgColorDark: $fontColorLight;
$fontColorDark:$bgColorDark;
$primaryColorDark: rgb(97, 213, 201);
