@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: rgb(241, 242, 242);

}


.container{
  width:min(90vw, 1200px);
  display: grid;
  place-items: center;
}