@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
	$fontColor: rgb(6, 20, 19);
	$bgColor: rgb(235, 250, 248);
	$primaryColor: rgb(58, 202, 187);
}
.light-theme {
	background-color: $fontColor;
	color: $bgColor;
	$primaryColor: rgb(58, 202, 187);
}
.dark-theme {
	background-color: $bgColor;
	color: $fontColor;
	$primaryColor: rgb(97, 213, 201);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: rgb(241, 242, 242);
}

.container {
	width: min(90vw, 1200px);
	height: 100%;
	display: grid;
	place-items: center;
}
