@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* :root {
  --clr-bcg: rgb(235, 250, 248);
  --clr-font: rgb(6, 20, 19);
  --clr-primary:rgb(58, 202, 187)
} */

.light-theme {
	--clr-bcg: rgb(235, 250, 248);
	--clr-font: rgb(6, 20, 19);
	--clr-primary: rgb(58, 202, 187);
}

.dark-theme {
	--clr-bcg: rgb(6, 20, 19);
	--clr-font: rgb(235, 250, 248);
	--clr-primary: rgba(58, 202, 187, 0.8);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--clr-bcg);
	color: var(--clr-font);
}

.toggle {
	width: 3.125rem;
	height: 1.5rem;
	border-radius: 2rem;
	border: 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	background-color: var(--clr-bcg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.toggle.light-theme .moon {
	display: block;
	color: gold;
	padding-inline-start: 0.2rem;
}
.toggle.dark-theme .sun {
	display: block;
	color: gold;
	padding-inline-end: 0.2rem;
}

.moon {
	display: none;
	font-size: 1.4rem;
}
.marker {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--clr-bcg);
	border-radius: 50%;
}

.sun {
	display: none;
	font-size: 1.4rem;
}
